body {
    font-size: 12px;
}
th {
    text-align: center;
    vertical-align: middle !important;
    font-weight: normal;
}
td {
    vertical-align: middle !important;
}
h3 {
    font-size: 12px;
}
ol, ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}
li:before {
    content: "- ";
}
li {
    margin: 0;
    padding: 0;
}
.header {
    margin: 0 auto;
    text-align: center;
}