body {
    background-color: #222;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
}
table ol, ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}
table li:before {
    content: "- ";
}
table li {
    margin: 0;
    padding: 0;
}
.header {
    margin: 50px auto 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
}
.logo {
    width: 100px;
    margin-bottom: 10px;
}
.header h1 {
    margin-bottom: 10px;
    font-size: 26px;
}
.header h2 {
    font-variant: normal;
    font-size: 18px;
    letter-spacing: normal;
}
.container {
    margin: auto auto 50px;
    padding: 0;
    background-color: #fff;
}
.inner {
    padding: 15px;
}
.footer {
    border-top: 1px solid #ddd;
    padding: 25px 0 0;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
}